:local .headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 3px 25px 6px 16px;
    font-size: 200%;
    background-color: #06030380;
    height: auto;
    direction: rtl;
    color: aliceblue;
}

:local .button {
    font-size: x-large !important;
    color: antiquewhite !important;
}